/* Aquí irá nuestro CSS */
h1{
    color: lightseagreen;
    font-size: 40px;
    text-align: center;
}
p{
    text-align: center;
    color: lightcoral;
    font-size: 22px;
}
#p01{
   color: orange;
}
.p-verde{
    color: lightseagreen;
}