/* @autor: Candy González -  2023 */
*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body{
  font-family: 'Playfair Display', serif;
  background-color: #f1f1f1;
  line-height: 1.5rem;
}

/* Encabezado */
.header {
  background-color: #f1f1f1;
  text-align: center;
  padding: 1.2rem;
}

.header h1 {
  font-size: 3rem;
}

.header img{
  max-width: 15%;
  margin-left: 0%;
}

/* Párrafos */
p{
  padding: 0.5rem;
}
/* El menú */
.nav {
  background-color: #333;
  overflow: hidden;
}

/* Los enlaces del menú */
.nav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.8rem 1rem;
  text-decoration: none;
}

/* Los enlaces del menú cambian de color  */
.nav a:hover {
  background-color: #BF962C;
  color: black;
}

/* Crea 2 colunas desiguales que flotan una al lado de la otra */
/* Columna izquierda */
.col-izq {   
  float: left;
  width: 37.5%;
}
.col-cen {   
  float: left;
  width: 37.5%;
  padding-left: 1.5rem;
}
/* Columna derecha */
.col-der {
  float: left;
  width: 25%;
  background-color: #f1f1f1;
  padding-left: 1.5rem;
}

/* Imagenes */
.img {
  max-width: 100%;
  margin: auto;
  display: block;
  height: auto;
  padding: 1rem 0rem;
}

/* Crea un efecto de tarjeta para los artículos */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Crea una fila que limpia la flotación de las columnas */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Pie de la página */
.footer {
  padding: 1.5rem;
  text-align: center;
  background: #333;
  margin-top: 1.5rem;
}
.footer a {
  text-decoration: none;
  color: #ddd;
  padding: 1rem;
}

/*  Diseño responsivo */
@media screen and (max-width: 800px) {
  .col-izq, .col-der {   
    width: 100%;
    padding: 0;
  }
}

/* Para móviles */
@media screen and (max-width: 400px) {
  .nav a {
    float: none;
    width: 100%;
  }
}